<% if !@project.blank? %>
  <% for t in @project %>    
    <div id="container" class="box effect2" onclick="(window.location='url')">
        <h3><span>  <%= t.title %></span> <i>6 dias atrás</i></h3>
        <p> <%= t.description %> </p>

        <ul>
            <li><strong>Habilidades Desejadas:</strong> <%= t.skills_descritions %></li>
            <li><strong>Valor:</strong><%= number_to_currency(t.maximum_Value_hour, unit: 'R$', separator:',' , format:"%u %n") %>/Hrs</li>
            <li><strong>Demanda:</strong> <%= t.demand %></li>
            <li><strong>Prazo Final:</strong> <%= t.deadline %></li>
        </ul>
        <div class="borda"></div>
    </div>
  <% end %>
<% else %>
 <h1>Nem um projeto cadastrado ainda</h1>
<% end %>

