<h1>ooioi</h1>

<% if @project.errors.any? %>
    <ul>
        <% @project.errors.full_messages.each do |error| %>
            <li> <%= error %> </li>
        <% end %>    
    </ul>
<% end %>

<%= form_for @project do |f| %>
  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>   

   <%= f.label :description, 'Descrição' %>
  <%= f.text_field :description %>   

   <%= f.label :skills_descritions, 'Descreva as Habilidades Esperadas' %>
  <%= f.text_area :skills_descritions %>   

   <%= f.label :maximum_Value_hour, 'valor máximo (por hora de trabalho)' %>
  <%= f.number_field :maximum_Value_hour %>

  <%= f.label :deadline, 'Data limite' %>
  <%= f.date_field :deadline     %>

 <%= f.label :demand %>
 <%= f.select :demand, options_for_select(Project.demands.map { |key, value| [key.humanize, key] }), {prompt: "Select Type of Property..."}, class: "form-control" %>
 
 <%= f.submit 'Enviar' %>

  

  
<% end %>