<!DOCTYPE html>
<html>
  <head>
    <title>FreeEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'responsive_header' %>
    <%= stylesheet_link_tag 'user' %>
    <%= stylesheet_link_tag 'card' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%# MENU %>
    <div class="header">
        <a href="#default" class="logo"> Free<strong>Easy</strong></a>
        <div class="header-right">
            <a href="#home">Home</a>
  
            <div class="dropdown">
            <button class="dropbtn">Projetos
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="<%= new_project_path %>">Cadastrar</a>
              <a href="#">Buscar</a>
              <a href="#">Propostas</a>
            </div>
          </div>

            <a href="#about">About</a>
            
        </div>

    </div>
    <%# MENU %>
    <div class="contante-main">
        <%= yield %>
    </div>
  </body>
</html>
